includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/

    # Level 5 là mức độ kiểm tra trung bình, khá an toàn cho dự án mới
    level: 5

    # Thay vì dòng cũ, hãy dùng dòng này nếu bạn muốn bỏ qua các lỗi về type của mảng
    checkGenericClassInNonGenericObjectType: false
